.float-div-container {
  position: fixed;
  top: 3vh;
  left: 3vw;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  transition: "all 0.1s ease";
  cursor: pointer;
  z-index: 9999;
  border-radius: 0.3rem;
  user-select: none;
}

.float-div-container * {
  font-size: 12px;
}

.model-view-button {
  width: 10vh;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  font-weight: bold;
  display: block;
}

.toggle {
  background-color: white;
  margin: 0.5rem 0;
}

.toggle:hover {
  text-decoration: underline;
}

.donate {
  color: black;
  background: yellow;
  text-align: center;
}

.donate:hover {
  color: black;
}

.custom-status-panel {
  color: black;
  font-weight: bold;
  text-align: center;
}

.custom-status-panel p {
  margin: 0;
}

.custom-status-panel.indicator {
  background: #d41b1b;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 4px 0 0;
}

.custom-status-panel.indicator.live {
  background: #00dd2e;
}

.custom-status-panel-divider {
  margin: 0.5rem 0;
  width: 100%;
  background-color: #fff;
}

.custom-floating-chat {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 0.3rem;
  height: clamp(450px, 60vh, 1800px) !important;
  width: clamp(550px, 60vw, 1080px) !important;
  max-height: clamp(450px, 60vh, 1800px) !important;
  max-width: clamp(550px, 60vw, 1080px) !important;
  min-height: clamp(450px, 60vh, 1800px) !important;
  min-width: clamp(550px, 60vw, 1080px) !important;
}
