.external.player-panel-status.custom-ext {
  background: transparent !important;
  width: 160px !important;
}

.player-panel-status-main {
  background: transparent !important;
}

.indicator.live {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  margin-right: 5px;
}

.badge.good {
  background-color: #4caf50;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 12px;
}
