:root {
  --primary: #4caf50;
}

body {
  font: 20px "Helvetica";
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

donate:hover {
  background-color: #45a049;
}

.donate {
  padding: 8px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 5px #666;
  -webkit-transition: all 800ms;
  transition: all 800ms;
  text-align: center;
}

.donate img {
  filter: invert(1);
}
